[Unit]
Description=Block IP addresses with failed ssh login attempts
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
Restart=always
RestartSec=1000
ExecStart=/usr/local/bin/sshprotect

[Install]
WantedBy=multi-user.target
